# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sql
*.sqlite

# Environment files
.env
.DS_Store

# go files
go.sum

# folders
binaries
proto-binary

