# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs and databases
*.log
*.sql
*.sqlite

# Environment files
.env
.DS_Store

# containerlab
clab-frr01
containerlab/.frr01-dev.clab.yml.bak
*.bak

# go files
vendor
src/vendor
go.sum
vendor
src/go.work.sum

# folders
binaries
proto-binary
build

# misc
/makefile.yannick
julian-router.conf

